<html>
	<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
	</head>
	<body>
		<div class="container">
			<div class="row">
				<h1>View Meal Details</h1>
			</div>
  			<div class="row">
				<b>{{ meal.food }}</b>
				<table class="table table-bordered table-striped">
					<tbody>
						<tr>
							<td>Calories</td>
							<td>{{ meal.get_total_calories }}</td>
						</tr>
						<tr>
							<td>Serving Size</td>
							<td>{{ meal.serving_size }}</td>
						</tr>
						<tr>
							<td>Total Fat</td>
							<td>{{ meal.get_total_fat }} g</td>
						</tr>
						<tr>
							<td>Saturated Fat</td>
							<td>{{ meal.get_total_saturated_fat }} g</td>
						</tr>
						<tr>
							<td>Cholesterol</td>
							<td>{{ meal.get_total_cholesterol }} mg</td>
						</tr>
						<tr>
							<td>Sodium</td>
							<td>{{ meal.get_total_sodium }} mg</td>
						</tr>
						<tr>
							<td>Total Carbohydrate</td>
							<td>{{ meal.get_total_carbohydate }} g</td>
						</tr>
						<tr>
							<td>Dietary Fibre</td>
							<td>{{ meal.get_total_dietary_fibre }} g</td>
						</tr>
						<tr>
							<td>Sugar</td>
							<td>{{ meal.get_total_sugar }} g</td>
						</tr>
						<tr>
							<td>Protein</td>
							<td>{{ meal.get_total_protein }} g</td>
						</tr>
					</tbody>
				</table>
				<button type="button" onclick="history.back ()" class="btn btn-default">Back</button>
			</div>
		</div>
	</body>
</html>